<div class="container">
<h1>Edit Your Blog Post Here</h1>

<form action="/blogposts/<%= @blogpost.id %>" method="post" id="blog_post_form">
    <input type="hidden" name="_method" value="patch">
    <div class="form-group">
        <label class="color">Your Name: </label>
        <input class="form-control" type="text" value="<%= @blogpost.author_name %>" name="blogpost[author_name]"> 
    </div>
    <div class="form-group">    
        <label class="color">Title: </label>
        <input class="form-control" type="text" value="<%= @blogpost.title %>" name="blogpost[title]"> 
    </div>    
    <div class="form-group">
        <textarea class="form-control" name="blogpost[content]" form="blog_post_form"><%= @blogpost.content %></textarea>
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
</form>
</div>
