<div class="container">

<h3><%= @user.username %>'s Blog Posts:</h3>
<br>
<% if @blogposts.empty? %>
    <p class="notification"><%= @user.username %> doesn't have any blog posts yet</p>
<% else %>    
    <% @blogposts.each do |blogpost| %>  
        <div class="container">
            <h4><a href="/blogposts/<%= blogpost.id %>"><%= blogpost.title.titleize %></a></h4>
        </div>
    <% end %>
<% end %>    
</div>