<div class="container">
<br><br>
<h2>Sign Up</h2>

<form action="/signup" method="post">
    <label class="color" for="username">Username: </label>
    <input type="text" name="username"><br>
    <label class="color" for="email">Email: </label>
    <input type="email" name="email"><br>
    <label class="color" for="password">Password: </label>
    <input type="password" name="password"><br>
    <input type="submit">
</form>
</div>