<!DOCTYPE html>
<html lang="eng">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Travel Blog</title>
  </head>

  <body>

    <div class="container">

        <% if Helpers.is_logged_in?(session) %>
            <nav class="navbar">
                <ul>
                    <li><a href="/users/<%= Helpers.current_user(session).id %>">My Blog Posts</a></li>
                    <li><a href="/blogposts/new">New Blog Post</a></li>
                    <li><a href="/blogposts">All Blog Posts</a></li>
                    <li><a href="/users">All Users</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            </nav>
        <% end %>

        <%= yield %>

        <footer>
            <small>&copy; 2020 <strong>Sinatra Travel Blog</strong> Coded with &hearts; by <a href="https://github.com/OlesyaMiller">Olesya Miller</a></small>
        </footer>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  </body>
</html>